<h3><%= @reader.name%></h3>
<div>
<b>Phone:</b> <%= @reader.phone%><br>
<b>Address:</b> <%= @reader.address.full_address%><br>
<b>Country:</b> <%= link_to @reader.country.name, @reader.country%><br>
<div>
  <b>Books Read:</b> <ul><% @books_read.each do|b|%> <li><%=b.book.name%></li> <%end%></ul>
</div>

</div>
