<h3><%= @country.name%></h3>
<div>
<b>Region:</b> <%= @country.region%><br>
<b>Population:</b> <%= @country.population%><br>
<b>Area:</b> <%= @country.area%><br>
<b>GDP:</b> $<%= @country.gdp%><br>

</div>