<!DOCTYPE html>
<html>
  <head>
    <title>IntroToRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to 'BookReaders.com', root_path%></h1>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path%></li>
          <li><%= link_to 'About Us', about_path%></li>
          <li><%= link_to 'Description', description_path%></li>
        </ul>
      </nav>
    </header>
      <%= yield %>
    <footer>
      <h5>Copywrong 2018</h5>
    </footer>
  </body>
</html>
